body {
    display:flex;
    justify-content:center;
    background-image: url('/assets/galaxy-background.gif');
    background-image: cover;

}
#songs {
    justify-content:center;
}
#info {
    margin: 20px;
    background-color:pink;
    outline: 5px solid purple;
}
h2 {
    color:white;
   margin-left: 20px;
   font-family: 'Berkshire Swash', cursive;
   border-bottom: 5px solid white;
}

@media screen and (max-width:800px) {
    .left, .main, .right {
      width:100%; 
    }
  }
  